@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");

* {
  font-family: Saira,sans-serif;
}

@media (min-width: 1080px) {
  .typing-text {
    letter-spacing: 10px;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-shadow: #9400FF 0px 0px 10px;
    animation: 
        typing 2s steps(23),
        borderAnimation .4s step-end infinite alternate;
  }
  
  @keyframes borderAnimation {
    50% {
        border-color: transparent;
    }
  }
  
  @keyframes typing {
    from {
        width: 0;
    }
  }
}

.typing-text {
  letter-spacing: 10px;
  overflow: hidden;
  text-shadow: rgb(59 130 246) 0px 0px 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(59 130 246); 
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(30, 30, 30);
}

.arrows {
  width: 60px;
  height: 72px;
  position: fixed;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: rgb(59 130 246);
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s;
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s;
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s;
}

.hide {
  opacity: 0;
  filter: blur(5px);
  transition: transform 1.5s;
}

.hide-1 {
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translate(0, 0)
}

@media(prefers-reduced-motion) {
  .hide {
    transition: none;
  }
}

.see-more-button-div::after {
  content: "";
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  position: absolute;
  height: 0px;
  box-shadow:  rgb(15 23 42) 0px 1rem 5rem 5rem;
}
